<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="jumbotron">
            <h1>'Allo, 'Allo!</h1>
            <p class="lead">
                <img src="images/yeoman.png" alt="I'm Yeoman"><br>
                Always a pleasure scaffolding your apps.
            </p>

            <p>
                <div ng-controller="CreateUserModalCtrl">
                    <button class="btn btn-primary" ng-click="open()">Signup <i class="fa fa-sign-in"></i></button>
                </div>
            </p>
        </div>
    </div>
</div>

<div class="row marketing">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h4>HTML5 Boilerplate</h4>
        <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

        <h4>Angular</h4>
        <p>AngularJS is a toolset for building the framework most suited to your application development.</p>

        <h4>Karma</h4>
        <p>Spectacular Test Runner for JavaScript.</p>
    </div>
</div>

