<div ng-controller="ProductsPaginationCtrl" class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-filters filter clearfix">
		<pagination-Count></pagination-Count>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix">
			<span class="pull-left col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<search></search>
			</span>
		</div>
		<span class="pull-right" ng-controller="CreateProductModalCtrl">
			<button class="btn btn-primary" ng-click="open()">Add Product <i class="fa fa-sign-in"></i></button>
		</span>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="list-group product-list">
			<a ui-sref="productDetails({id:product._id})" class="list-group-item clearfix" ng-repeat="product in products | orderBy: '-createdOn' | filter: search.name | startFrom: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">

				<div class="page-header clearfix">
					<h2 class="pull-left"><i class="fa fa-diamond"></i> {{product.name}}</h2>
					<span class="pull-right product-price">{{product.price | currency}}</span>
				</div>
				{{product.description}}
				<pre>{{product.createdOn | date: 'MM/dd/yyyy @ hh:mm'}}</pre>

			</a>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filters">
		<pagination-Count></pagination-Count>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pagination">
			<pagination class="pull-right" page="currentPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" items-per-page="itemsPerPage" num-pages="numPages"></pagination>
		</div>
	</div>
</div>
