<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

		<ul class="list-group product-list">
			<li class="list-group-item clearfix" ng-repeat="product in products">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<a ui-sref="productDetails({id:product._id})">
						<div class="page-header clearfix">
							<h2 class="pull-left">
								<i class="fa fa-diamond"></i> {{product.name}} 
								<small><span class="label label-info">NEW</span></small>
							</h2>
							<span class="pull-right product-price">{{product.price | currency}}</span>
						</div>
						{{product.description}}
					</a>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<button class="btn btn-danger btn-sm">Delete</button>
				</div>
			</li>
		</ul>
	

		<!-- <div class="list-group product-list">
			<a ui-sref="productDetails({id:product._id})" class="list-group-item" ng-repeat="product in products">
				<div class="page-header clearfix">
					<h2 class="pull-left"><i class="fa fa-diamond"></i> {{product.name}}</h2>
					<span class="pull-right product-price">{{product.price | currency}}</span>
				</div>
				{{product.description}}
			</a>
		</div> -->
	</div>
</div>